/* 
    Author: The Bao
    Day: 22/03/2024
*/
* {
    margin-top: 0;
    padding-top: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    height: 80px;
}

.container-fluid {
    margin-top: 28px;
}

.body-pets {
    margin-bottom: 10px; 
}

.menu-left {
    width: 216px;
    height: 640px;
    margin-top: 20px;
    border: 1px solid black;
    /* background-color: var(--color-box-menuPets); */
}

.menu-pets {
    width: 216px; /* Đặt chiều rộng của menu-pets là 100% */
    margin-left: -13px;
}

.menu-pets li a {
    border-top: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-pets .nav-item {
    width: 100%; /* Đặt chiều rộng của mỗi item trong menu là 100% */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-pets .nav-item:hover {
    background-color: black;
}

.menu-pets .nav-item .nav-link:focus {
    background-color: white; /* Thay đổi màu nền khi mục được chọn */
    color: black; /* Thay đổi màu chữ khi mục được chọn */
    border-left: 1px solid black;
}

/* click vào danh mục pet */
.menu-pets li a:hover {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.menu-pets li:hover {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.menu-pets .nav-item a {
    height: 60px;
}

.menu-left {
    position: relative;
    left: 12px;
}

/* Khung các loại pet (bên phải) */
.menu-right .menu-choose {
    width: 100%;
    height: 80px;
    margin-left: 10px;

    background-color: #464646;
}

.menu-choose {
    display: flex;
    align-items: center;
}

.menu-choose ul {
    margin-bottom: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-choose li {
    list-style: none;
    display: flex;
    margin-left: 30px;
}

.menu-choose button {
    width: 100px;
}

/* Nút sắp xếp giá pets */
.chooseCost:hover {
    cursor: pointer;
    outline: none; /* tắt hiển thị viền ngoài khi select đang được focus */
    box-shadow: none; /* tắt hiệu ứng box-shadow khi select đang được focus */
  }

.form-select option[disabled] {
    color: transparent;
  }

  /* Nút chuyển các trang danh sách pets */
  .transformPagePets {
    padding-left: 120px;
    display: flex;
    align-items: center;
  }

  /* Khung hiện pets */
.productsView {
    height: 530px;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.productsView .row {
    margin-left: 1px;
}

.productsView h6 {
    font-size: 11px;
    height: 50px;
}

.productsView .review {
    display: flex;
    flex-direction: row;
}

/* Số sao đánh giá */
.productsView .stars {
    position: relative;
    white-space: nowrap;
    width: 50%;
}

.productsView .overlay {
    background: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}

.productsView svg {
    fill: gold;
}

.productsView .reviewNum {
    font-size: 12px;
    color: #666;
}

.productsView .row .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsView .price {
    display: flex;
    justify-content: center;
}
/*
.productsView .themGioHang {
    font-size: 14px;
    transform: translateY(100%);
    position: absolute;
}



.productsView h5 {
    cursor: pointer;
    transition: all 0.3s ease;
}

.productsView .price:active {
    transform: translateX(110%);
}



.productsView .price:active + .themGioHang {
    transform: translateX(0);
    transform: translateY(-90%);
} */

.transformPage {
    height: 50px;
    width: 100%;
}
  /* Dãy số trang */
  .transformPage {
    height: 50px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .transformPage ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  
  .numPage {  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 26px;
  }

  .numPage:hover {
    background-color: black;
    color: white;
  }