* {
    margin-top: 0;
    padding-top: 0;
}

:root {
    --color-text-menuPets: white;
}

.menu-left {
    margin-top: 20px;
}

.menu-pets li a {
    color: var(--color-text-menuPets);
}

.menu-pets .nav-item a {
    height: 60px;
}
